body{
    background-color: #ffffff;
    margin: 0;
    /* font-family:Arial, Helvetica, sans-serif; */
}

.container-root{
   display: flex;
   /* flex-direction: column; */
    height: 100%;
    align-content: center;
    justify-content: center;
    /* border: 1px solid #000; */
}

*{
    font-family: 'Mulish';font-size: 15px;
}

.top{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    height: 100vh;
    padding: 0;
    margin: 0;
}

.bottom, footer{
  
    background-color:#1e0a3c;
    color: #ffffff;
    height: 100%;
    
}

div.form{
    display: flex;
  
    width: 40%;

    max-width: 600px;

    justify-content: center;
    
}

div.img-hero{
   
    width: 100%;
 
    
;
    
}

.hero_img{
    height: 100%;
    width: 100%;
    
}



form{
    
    /* border: 3px solid #f1f1f1; */
   
}

.eform{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    align-content: center;
    height: 70%;
    justify-content: center;
    
}



div.form-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-top: 70px;
    
    
}


input[type=text], input[type=password], input[type=button]{
    width:60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-shadow:0px 1px 0px #888888;
    border-radius: 5px;
    
    
}

button{
    background-color: #d1420d;
    color: white;
    padding: 12px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
}

 #company-name{
   font-size: x-large;
   margin-bottom: 12px;
   font-weight:bold;
   color: #f05537;
}

#create-header{
    margin-top: 3px;

    
}



.names{
    display: flex;
    justify-content:space-around;

    width: 71%;
    margin: 0;
    align-self:auto;

}

.names input{

    padding: 12px 20px;
    width: 31%;
    border: 1px solid #ccc;
    
}

.bottom{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

div .footer-details{
    height: 80%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content:space-around;


}

div .footer-copy{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

div.footer-details h4, 
div.footer-details p,
div.footer-copy p{
    font-size:small;
    margin-bottom: 0px;
}

.col-1 {
    margin-left: 5%;
    justify-content: center;
    
}

.footer-copy p{

}








