body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#username {
  background-color: green;
  color: #fff;
  padding: 12px;
  border-radius: 20px;
}

#username:hover {
  background-color: rgb(10, 79, 40);
  color: #fff;
  padding: 12px;
  border-radius: 20px;
}

* {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.container-root {
  display: flex;
  height: auto;
  flex-direction: row;
  margin-bottom: 100px;
}

.horizontal {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.vertical {
  width: 5vw;
  padding-right: 50px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 0.1px solid rgb(180, 176, 176);
}
.navbar-categories {
  background-color: black;
}
.nav-items {
}

ul {
  list-style-type: none;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
}

.navbar-categories {
  height: 40px;
  width: 60%;
  background-color: #ffffff;
}

.navbar a {
  /* color: #fff; */
  text-decoration: none;
  /* font-size: 18px; */
  /* font-weight: bold; */
}

.navbar-categories ul {
  display: flex;

  padding: 0;
}

.navbar ul,
.footer-detail ul {
  display: flex;
}

.navbar ul li,
.navbar-categories ul li {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

.footer-detail ul li {
  margin-left: 20px;
}

.navbar-categories #first-item {
  margin-left: 0;
}
.logo {
  font-size: x-large;
  font-weight: bold;
}

/* .categories{
    background-color: aqua;
    width: 100%;
    height: 100%;
} */
.categories .heading {
  margin-top: 5%;
  margin-bottom: 50px;
  width: 80vw;
  display: flex;
  flex-direction: row;
}

.heading .downarr {
  margin-left: 20px;
  margin-right: 10px;
}

.nav-v-list li {
  margin-bottom: 20px;
}

.vertical-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}

.create-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-categories button {
  padding: 12px 20px;
}

.create-categories .list-calendar button {
  border: 1px solid #948f9c;
  border-radius: 2px;
}

.create-categories .create-button {
  background-color: #d1410c;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}

.search-container {
  padding-top: 50px;
  display: flex;
}

.search-input {
  padding: 15px 20px;
  width: 30vw;
}

.search-container #event-status {
  padding: 15px 20px;
  width: 15vw;
  margin-left: 15px;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(3, 2fr, 1fr, 1fr, 1fr);
  /* flex-direction: column; */
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #f8f7fa;
}

#three {
  display: block;
}

#eve {
  margin-left: 15x;
}

#three div {
  word-break: break-word;
  align-items: center;
  max-width: 60px;
  word-wrap: break-word;
  font-size: medium;
}

.event-list-lower {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #948f9c;
}

.event-list .list-heading,
.event-list-lower .list-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-list .list-heading #three,
.event-list-lower .list-heading #three {
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.event-list-lower {
  display: flex;
  flex-direction: row;
  position: relative;
}

.event-list-lower .more-container {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-list-lower .con-dropdown {
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 8px #888;
  font-weight: 600;
  right: -70px;
  bottom: 0;
  display: none;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}

.event-list-lower .con-dropdown li {
  padding: 10px 20px;
}


.event-list-lower .con-dropdown li:not(:last-child) {
  border-bottom: 1px solid #888;
}

.event-list-lower .con-dropdown.active {
  display: block;
  
  
}

.list-heading {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mon {
  color: #d1410c;
  font-size: 13px;
}
.day {
  font-weight: 700;
  color: #948f9c;
}

#line {
  display: flex;
  flex-direction: row;
}
.event-details p {
  margin-top: 10px;
}
#line img {
  height: 50px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eff2f5;
}

.event-details .title {
  font-size: 0.9rem;
  color:#4169e7
}

.event-details .type {
  /* font-size: 12px;
    padding-top: 5px;
    color: #948f9c; */
  padding-top: 5px;
}

 #three div{
  color: #000; 
  font-size: 0.9rem;
  font-weight:500;
 }

.event-details .type{

  /* color: #948f9c;  */
  font-size: 0.9rem;
  font-weight:500;
}
.event-details .date-time
 { 
  color: #948f9c; 
  font-size: 0.8rem;
  font-weight:500;
}

.arrow-detail {
  float: right;
}

.more-container {
  width: 30px;
  align-self: center;
  border: none;
  background-color: #ffffff;
}

.more {
  margin-top: 5px;
}

li:hover {
}

.icon-side {
  width: 30px;
  margin-bottom: 20px;
}

.icon-side:hover {
  fill: blue;
}

.nav-v-list {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.vertical-nav {
  padding-top: 100px;

  background-color: #f8f7fa;
}

.vertical-nav li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.back-arr {
  display: flex;
  justify-content: center;
}
.back-arr img {
  width: 20px;
}

.heading .downarr {
  margin-left: 20px;
  margin-right: 10px;
}
