body{
  
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  
    
 
}



*{
    font-family: 'Mulish';font-size: 15px;
  
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.container-root{

   
    height: auto;
   
   
    
}

.horizontal{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-left: 25vw;
   
   
    
   
  
}
.navbar-categories{
    margin-left: 20vw;
}

.vertical{
    width: 5vw;
    padding-right:50px
    
}

.nav-container{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 0.1px solid rgb(180, 176, 176);
}
.navbar-categories{
    background-color: black;
}
.nav-items{
}

ul{list-style-type: none;}

.navbar{
    height:60px;
    width: 100%;
    background-color: #ffffff;
   

}

.navbar-categories{
    height:40px;
    width: 60%;
    background-color: #ffffff;
}

.navbar a{
    /* color: #fff; */
    text-decoration: none;
    /* font-size: 18px; */
    /* font-weight: bold; */
}

.navbar-categories ul{
    display: flex;
   
    padding: 0;
}


.navbar ul, .footer-detail ul{
    display: flex;
   
   
}

.event-status{
    width:50px
}

.navbar ul li, .navbar-categories ul li{
    margin-left: 20px;
}

a{
    text-decoration: none;
}

.footer-detail ul li{
    margin-left: 20px;
}


.navbar-categories #first-item{
    margin-left: 0;
}
.logo {
    font-size: x-large;
    font-weight: bold;
    color: #d1410c;
    font-weight: bolder;
}


 

/* .categories{
    background-color: aqua;
    width: 100%;
    height: 100%;
} */
.categories .heading{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80vw;
    display: flex;
    flex-direction: row;
   

} 
.back-arr{
    display: flex;
    justify-content: center;
}
.back-arr img{
    width: 20px;
}

.heading .downarr{
    margin-left: 20px;
    margin-right: 10px;
}

.nav-v-list li{
    margin-bottom: 20px;
   
}

.vertical-nav{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    
}

.create-categories{
  
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 30px;

}

.create-categories button{
    padding:12px 20px;

}

.create-categories .list-calendar button{
    border: 1px solid #948f9c;
    border-radius: 2px;
}

.create-categories .create-button{
    background-color: #d1410c;
    color: #ffffff;
    border: 1px solid #d1410c;
    border-radius: 2px;
}

.create{
   margin-right: 50px;
   
}
.create button{
    justify-self:end;
    margin-left: 30px;
}

.search-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    

}

.search-input{
    padding:15px 20px;
    width: 30vw;
}

.status{
    display: flex;
  
    justify-content: start;
    
    
}
#event-cost{
    width: 170px;
}
#event-type{
    border: 1px solid #948f9c;
    
}

.search-container .event-status{
    padding:20px 20px;
    width: 15vw;
    margin-right: 15px;
}



.event-list{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #f8f7fa;
    
}



.event-list-lower{
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 70px;
    border-top:1px solid #948f9c;
    position: static;
    
    
   
}

.event-list .list-heading, .event-list-lower .list-heading {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.event-list .list-heading #three, .event-list-lower .list-heading #three{
    width: 35vw;
    display:flex;
    justify-content: space-evenly;
    align-self: center;
}

.event-list-lower{
    position: sticky;
    bottom:0;
    background-color: #fff;
    height:max-content;
    /* padding-top: 20px; */
}

.date{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.mon{
    color:#d1410c;
    font-size: 13px;
    
}
.day{
    font-weight: 700;
    color: #948f9c;

}

#line{
    display: flex;
    flex-direction: row;
}
.event-details{
    display: flex;
    flex-direction: column;
}
#line img{
    width:20px;
    height: auto;
    padding-left:17px;
    padding-right:17px;
    margin-left:10px;
    margin-right: 10px;
    background-color: #eff2f5;
}

.event-details .title{
    font-size: 15px;
}

.event-details .type{
    font-size: 12px;
    padding-top: 5px;
    color: #948f9c;
}

.event-details .date-time{
    color: #948f9c;
    font-size: 12px;
    font-weight:500;
}

.event-location{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
       
}
.event-location #three{
    width: 35vw;
    display:flex;
    justify-content:start;
   
}

.list-button{
    padding:12px 25px;
    margin-right:15px;
    margin-top: 20px;
    border-radius: 3px;
    border: 2px solid #948f9c;
}
.list-button-time{
    padding:12px 25px;
    margin-right:15px;
    margin-top: 20px;
    border-radius: 3px;
    border: 2px solid #948f9c;
}

.search-input, .event-status{
    margin-top: 20px;
}

.input-head{
    margin-bottom: 20px;
}

.start{

}

.time-input{
    padding:15px 20px;
    width: 15vw;
   
   
}

.end, .start{
    display: flex;
    flex-direction: row;

}

.time-container, .class-container{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    margin-top: 15px;
}

.time-container label, .class-container label{
    font-size: small;
    margin-bottom: 5px;
}

button:hover, #event-type:hover{
    border: 2px solid #4169e7;
    /* color: #4169e7; */
}



input:hover, textarea:hover, select:hover{
    border:2px Solid #4169e7;
    /* color: #4169e7; */

}

.button-select{
    background-color:#ebeefc; 
    color:#4169e7; 
    border:2px Solid #4169e7;
}

#user-name{
    background-color: green;
    color: #fff;
    padding:12px;
    border-radius: 20px;
   
}

#user-name:hover{
    background-color: rgb(10, 79, 40);
    color: #fff;
    padding:12px;
    border-radius: 20px;
}



#event-img{
    padding:12px;
}
