.root-container{
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    
}
body{
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
   
}

ul{list-style-type: none;}

.navbar{
    height:60px;
    width: 100%;
    background-color: #ffffff;

}
.navbar a{
    /* color: #fff; */
    text-decoration: none;
    /* font-size: 18px; */
    /* font-weight: bold; */
}
.navbar ul li, .navbar-categories ul li{
    margin-left: 20px;
}

a{
    text-decoration: none;
}

.logo {
    font-size: x-large;
    font-weight: bold;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}
a{
    text-decoration: none;
}

.hero-container{
    height: 70vh;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    background: black;
}

.hero-img{
    object-fit: cover;
    width:100%;
    filter: blur(8px);
    -webkit-filter: blur(7px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.img-head-container{

    display: flex;
    flex-direction: row;
    justify-content: center ;
    border-bottom: 1px solid #948f9c;
    
    
}
.event-details-container{
   
    width: fit-content;
   
    background-color:#ffffff;
    margin-left: 15vw;
    margin-top: 40px;
    
   

}

.img-head{
    display: flex;
    flex-direction: column;
   
}


.img-container{
    padding: 0;
    width:auto;
    
}
.left-side{
    width:50vw;
    text-align:justify;
    
}

.left-side {
    margin-right: 150px;
    margin-left: 50px;
}

.img-event{
    width: 50vw;
    height: 100%;
    padding: 0;
    
}


.heading-detail, .right-side{
    justify-content: center;
    width: 20vw;
   
    
}

.lower-container{
    width: 70vw;
}
.register{
    padding: 5px 120px;
    justify-items: center;
    border: none;
    margin: 8px;
    color: #ffffff;
    background-color: #d1502b;
    border-radius: 4px;
    font-size: medium;
}

.register-event{
    display: flex;
    justify-content: end;
  
    
}


.first-container{
    flex-direction: row;
    display: flex;
    
}

.first-container .left-side p{
    font-size: large;
    
}

.summary{
    padding:12px 10px 12px 12px;
}

.location-iframe{
    margin-top: 50px;
   
   
    width: 100%;
    
}

.locate-iframe{
    width: 100%;
    height: 73vh;
    
}






